# Tray Commerce
TRAY_CONSUMER_KEY=
TRAY_CONSUMER_SECRET=
TRAY_AUTH_CODE=
TRAY_STORE_URL=https://www.partsbarao.com.br

# Linx AutoShop
LINX_API_URL=https://auto-gwsmartapi.linx.com.br
LINX_SUBSCRIPTION_KEY=
LINX_AMBIENTE=

# Redis (BullMQ)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Server
PORT=3000
BASE_URL=http://localhost:3000
